<div class="login-section">
<div class="container">
    <div class="roe">
        <div class="col-md-6">
            <div class="card">
                <div class="tex-center">
                    <img class="image" src="./assets/login.jpg" >
                    <h1>Login</h1>
                    <h5>Please enter email & password !!!</h5>
                </div>
                    <form [formGroup]="contactForm" class="form">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" formControlName="email"  minlength="5" maxlength="100" placeholder="enter your email" required class="form-control" >
                        
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" formControlName="password" minlength="5" maxlength="20" placeholder="enter your password" required class="form-control">
                        </div>
                        <div>
                            <input type="submit"  name="send" (click)="postData()" class="btn btn-success mb-2">
                            &nbsp;&nbsp;<a (click)="setData()" class="btn btn-primary">Set Value</a>
                            &nbsp;&nbsp;<a (click)="resetData()" class="btn btn-info">Reset</a>
                        </div>
                        

                    </form>
                    <a style="color: beige; margin-top: 10px;" routerLink="/signup">New user? click to signup!!</a>
                </div>
        </div>
    </div>
</div>
</div>
