.card{
    border: none;
    width: 400px;
    padding: 30px;
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50px, -50%);
    background-color: rgb(109, 109, 189);
}
.card label h1,
h5{
    color: whitesmoke;

}
label{
    color: whitesmoke;
}
.image{
    width: 50px;
    text-align: center;
}
.card{
    position: absolute;
    top:0;
}
.login-section{
    position: absolute;
    top: 400px;
    right: 400px;
}