
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Web Developer</title>
    <app-home></app-home>
</head>
<body>
    <header>
        <div class="headersection">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="logo"><a href="#">VGO RIDES</a></div>
                    </div>
                    <div class="col-sm-9">            
                        <div class="nav_bar">
                            <ul class="nav_list">
                                <li><a class="nav-2-a" routerLink="/home" >Home</a></li>
                                <li><a href="#" >About</a></li>
                                <li><a href="#" >Blog</a></li>      
                                <li><a href="#" >Contact</a></li>
                                &nbsp;&nbsp;&nbsp;&nbsp;<li><a style="color: beige; margin-top: 10px;" routerLink="/signup">Signup</a></li>
                                &nbsp;&nbsp;&nbsp;&nbsp;<li><img class="image" src="./assets/login.jpg" ><a style="color: beige; margin-top: 10px;" routerLink="/login"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- <div class="banner">
       <img class="banner-tis" src="image/truck11.jpg" alt="#"> 

        <div class="head_box_ban"><h1>VGO RIDES</h1>
        <p>This is VGO RIDES COMAPNY</p>
    
      </div>
      </div> -->
    

       <!-- images_section -->
  <div class="images_section">
    <div class="container-fluid">
      <div class="image_box">
    
     <div class="image_1"><h1>VEGO RIDES</h1></div>
    

    
      <div class="image_1 images_2"><h1>VGO RIDES</h1></div>
     
    
      <div class="image_1 images_3"><h1>VGO RIDES</h1></div>
     
    </div> 
  </div>
  </div>


  <!-- <div class="bg_img"></div> -->


    <!-- artical_section -->
    <div class="actical_section">
    <div class="container">
    <div class="di-r">
        <div class="dse-tr">
          <h2 class="header_text">articles</h2>
            <p class="para_texts">By 2022, The Bureau of Labor Statistics estimates 65 million Americans will be freelancers, temps, independent contractors, or entrepreneurs, making up a full 40% of the workforce. Venture X provides an attractive opportunity for those workers who want to benefit from a rich work community.

                Venture X is also an attractive franchise business model. Like other “sharing” industries, Venture X franchisees simply provide the modern workspace and members buy private memberships giving them access to open areas or private offices, whichever they prefer.</p>
        </div>
    </div>
  </div>
  </div>



 

    <!--Cards-->
    <div class="card-group">
        <div class="card">
          <img src="./assets/about-4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="./assets/team-2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="./assets/team-3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div> 



  <!--Images-->
  <div class="list">
    <div class="user">
      <div class="imBx">
        <img src="./assets/chandan.png" >
      </div>
      <div class="details">
        <h3>Chanadan Kumar</h3>
        <p>Aerospace Engineer</p>
      </div>
    </div>
    <div class="navigation">
      <span></span>
      <span></span>
      <samp></samp>
    </div>
  </div>
  <script>
    let navigation = document.querySelector('.navigation');
    navigation.onclick=function(){
      navigation.classList.toggle('active')
    }
  </script>
    
</body>
</html>





<router-outlet></router-outlet>
